<div class="row">
  <div class="col-md-7">
    <h1>Here's the list of all public wikis</h1>
    <ul class="list-group bloc-index">
      <% @wikis.each do |wiki| %>
        <li class="list-group-item"><%= link_to wiki.title, wiki %></li>
      <% end %>
      <%= will_paginate @wikis %>
    </ul>
  </div>
   <div class="col-md-5">
     <%= link_to "Create a new wiki", new_wiki_path, class: 'btn btn-primary btn-block new-wiki' %>
   </div>
</div>




